# Core scientific and numerical libraries
numpy
scipy

# Computer vision
opencv-python

# Machine Learning / Object Detection
scikit-learn
ultralytics

# Optimization
pyscipopt

# Data Handling
polars

# Graphical User Interface (GUI)
PyQt6
